{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}



<div class="container my-3">

<div class="jumbotron" style="background-color:#b2dfdb">
  <h1 class="display-4">Welcome to Blogos</h1>
  <p class="lead">Welcome to Blogos. A website which not only comprises of blogs but also defines "Blogasm" for the blogging mind.</p>
  <hr class="my-4">
  <p>Here you can post, read and express you views on someone else's post. Hope to keep you blogging. Happy Blogging.</p>
  <a class="btn btn-dark btn-lg" href="/blog" role="button">Read Blog</a>
  <img src="static\books.jpg" alt="home" class="w-100 p-5 img-fluid">
</div>
</div>


{% endblock body %}